*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background: #34495e;*/
}

/* MENU */

.menu{
    background-color: transparent;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background: #34495e;
}

.logo{
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.academia, .listanav{
    color: white;
}

.logo > img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin: 5px 5px 0 35px;
    cursor: pointer;
}

.logo > h2{
    margin-top: 5px;
    cursor: pointer
}

.navbar{
    display: flex;
    justify-content: space-between; 
}

.nav{
    display: flex;
    align-items: center;
    list-style: none;
}

.listanav{
    text-decoration: none;
    margin-right: 35px;
    cursor: pointer;
    transition: 0.5s ease all;
    padding: 8px;
    border-radius: 10px;
}

/* Carrusel de imagenes */

.contenItemsCarrusel{
    height: 400px;
    overflow: hidden;
}

.itemCarrusel{
    height: 400px;
    position: relative;
}

.tarjetaCarrusel{
    height: 100%;
}

.flechasCarrusel{
    height: 100%;
    position: absolute; 
    top: 0;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.contpuntos{
    display: flex;
    justify-content: center;
}

.contpuntos > a {
    font-size: 2.5em;
    text-decoration: none;
    color: rgb(255, 255, 255);
}  

/* SECCIONES */

.whisec {
    margin: 0 4em 2em;
}


.whisec h3 {
    text-align: center;
    padding-top: 1em;
}

.s-nosotros article {
    background: lightgray;
    padding: 2em;
    border-radius: 2em;
}


.cuadrogrupo article {
    width: 40%;
}

.cuadrogrupo {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    MARGIN-BOTTOM: 2EM;
}

p {
    margin: 1em 0em;
}

.grupocurso {
    display: flex;
    justify-content: space-around;
}

.grupocurso img {
    width: 20em;
    height: 20em;
}

.grupocurso div {
    text-align: center;
    width: 30%;
}

.blusec {
    background: #34495e;
    padding: 0em 2em;
    color: white;
    padding-bottom: 2em;
}

.blusec h3 {
    text-align: center;
    padding: 1em;
}

article.listasdos {
    display: flex;
    justify-content: space-around;
}

.listasdos div {
    width: 40%;
    padding: 1em;
    text-align: left;
}

/* FOOTER */

.foot {
    margin: 2em 4em;
    text-align: center;
}

.blusec label {
    display: flex;
    flex-direction: column;
    padding: 0.4em;
}

.blusec form {
    background: white;
    color: black;
    padding: 1em;
}

.listasdos input {
    background: lightgray;
    border: none;
    padding: 0.4em;
}

.center {
    text-align: center!important;
}